/*global styles*/

* {
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	font-smoothing: antialiased;
}

body {
	font-family: "proxima-nova";
	color:#2a2a2a;
	background: #fafafa;
}

img {
	max-width: 100%;
}

p {

}

.lower p {
	font-size: 15px;
	font-style: normal;
	font-family: "proxima-nova";
	color: #4c4c4c;
 }

ul {
	margin:0;
	padding:0;
}

#container {
	max-width: 100%;
	margin:0 auto;
}

section {
	font-family: "ff-typestar-black-web";
}

h2 {
	color: #2a2a2a;
	margin:0;
}

h2 span {
	font-weight: 500;	
}

h5 {
	text-align: center;
	background: #2a2a2a;
	color:#fafafa;
	margin:0;
	padding:2%;	
}

h5 a {
	color:white;
}

a {
	text-decoration: none;
	color:#5f0303;
	-webkit-transform: rotate(0);
}

a img {
	-webkit-backface-visibility: hidden;	
}

hr {
	border-top:1px solid #e7e7e4;
	margin:0;
	padding:0;
}

/*end global styles*/

.upper {
	background: #222;
}

.nameplate {
	margin: 0 auto;
	background: #ffd200;
}

.nameplate img {
	width: 100%;
}

.nameplate h2 {
	font-family: "nimbus-sans-extended";
	color:#222;
	letter-spacing: 1px;
	text-transform: uppercase;
	left:9.5%;
	top:11%;
	font-weight: 100;
	font-size: 50px;
	text-align: center;
 }

.contact-list {
	background: #222;
	z-index: 1;
	position: fixed;
	width: 100%;
	text-align: center;
	border-right:1px solid #ffd200;

}

.contact-list li {
	list-style-type: none;
	display: inline;
	padding:15px;
	font-size: 38px;
	text-transform: uppercase;
}

.contact-list li:hover {
	background: #ffd200;
	transition:.5s all;
}

.contact-list a {
	color:#fafafa;
	text-decoration: none;	
}

/*blocks*/

.lower {
	max-width: 1124px;
	margin: 0 auto;

}

.lower section {
	margin: 0 auto;
	padding-bottom: 1em;
	overflow: hidden;
	border-bottom: 1px solid #ccc;
	opacity: .9;
	transition: all .5s;
	-webkit-transform: rotate(0);
	-moz-transform: rotate(0);
	transform: rotate(0);
}

.lower section:hover {
	opacity: 1;
	transition: all .5s;
}

.lower section:last-child {
	border: none;
}

.lower section div {
	width: 30%;
	padding: 5%;
	transition: all .25s ease;
}

.lower section img {
	width: 50%;
	padding: 5%;
}


.lower section:nth-child(odd) div { float: left }
.lower section:nth-child(even) div { float: right }

.lower section:nth-child(odd) img { float: right }
.lower section:nth-child(even) img { float: left }


/*footer*/

footer {
	margin:0 auto;
	clear: both;
	overflow: hidden;	
}

footer li a {
	color: black;
}

footer li a:hover {
	color: #fafafa;
	-webkit-transition: all .1s;
	-moz-transition: all .1s;
	-ms-transition: all .1s;
	-o-transition: all .1s;
	transition: all .1s;
	text-decoration: none;
}

footer img {
	padding:11px 0 0 26px;
	float: right;
}


.about {
	margin:0 auto;
	background:#ffd200;
	padding:1.6em 7.2em;
	float: left;
}

.about h2 {
	float: left;
	width: 30%;
	font-size:50px;
	padding:1.6em 0 .2em 0;
	font-family: "ff-typestar-black-web";
	text-transform: uppercase;
}

.mobile-add {
	visibility: hidden;	
}


.about p {
	float: left;
	width: 600px;
	font-family: "proxima-nova";
	margin:.8em 0 .8em 0;
	line-height: 1.5em;
}

.contact {
	margin:0 auto;
	height: 300px;
	padding:0 7.2em;
	position: relative;
	max-width: 500px;
	float: left;
	background: orange;
	
}

.contact:hover {
	background: #bf4040;	
}

.contact a {
	color:#222;	
}

.contact a:hover {
	color: #ffd200;
}

.contact h2 {
	font-size:50px;
	padding:1.6em 0 .2em 0;
	font-family: "ff-typestar-black-web";
	text-transform: uppercase;	
	float: left;
	margin:0;
}

.contact p {
	text-align: left;
	margin:0 0 0 5px;
}

.links {
	float: left;
	max-width: 824.5px;
	height: 300px;
	background: #4573d5;
	width: 100%;	
}

.links:hover {
	background: #40acac;	
}

.links ul {
	padding-top:15px;	
}


.links h2 {
	font-size:50px;
	padding-top:80px;
	padding-left:40px;
	font-family: "ff-typestar-black-web";
	text-transform: uppercase;	
	margin:0;	
}


.links li {
	display: inline;
	list-style-type: none;
	margin:40px;
	padding-top:15px;
}

.links a {
	color:#222;
	text-decoration: none;	
}

.links a:hover {
	color:#ffd200;	
}

.top {
	display: none;
}


/* responsiveness */

@media only screen and (max-width: 650px) {
	.lower section div { width: 80% }
	.lower section:nth-child(odd) div { float: none }
	.lower section:nth-child(even) div { float: none }

	.lower section img { width: 80% }
	.lower section:nth-child(odd) img { float: none }
	.lower section:nth-child(even) img { float: none }

	footer { 
		max-height: 500px;
		background: #ffd200;
		padding:0 40px; 
	}

	.top {
		display: block;
		font-size: 10px;
		width: 100%;
		background: #fafafa;
		margin: 0 auto;
		padding:.8em 0;	
		text-align: center;
		text-transform: uppercase;
	}

	.top:hover { background: #2a2a2a; }

	.top a { color: black; }

	.top a:hover { color:#fafafa; }

	.mobile-remove { display: none; }
	
	.mobile-add { visibility: visible;}

	footer img { display: none; }

	.contact-list {
	padding:0;
	margin:0;
	position: static;	
	}

	.contact-list li {
	font-size: 15px;
	padding:0;
	margin-left:10px;	
	}

	.contact-list li:last-child {
		display: none;	
	}

	.nameplate h2 {
	font-size:20px;	
	}

	#bio, #bio p, #bio h2 {
	padding:0;
	margin:.8em 0;
	width: 100%;
	height: auto;	
	font-size: 15px;
	}

	.links, #contact_me {
	display: none;	
	}
}

